:root {
    --background-primary: #ffffff;
    --background-secondary: #f4f4f4;

    --background-surface: #ffffff;
    --background-surface-light: #f9f9f9;
    --background-surface-dark: #e0e0e0;

    --background-accent: #007bff;
    --background-accent-hover: #0056b3;
    --background-accent-muted: #99ccff;

    --background-neutral-light: #f7f7f7;
    --background-neutral-dark: #333333;

    --background-interactive: #007bff;
    --background-interactive-hover: #0056b3;
    --background-interactive-active: #003f7f;

    --background-success: #dff0d8;
    --background-warning: #eed141;
    --background-error: #f2dede;

    --text-primary: #333333;
    --text-secondary: #555555;
    --text-accent: #007bff;
    --text-inverse: #ffffff;
    --text-muted: #999999;

    --icon-color: var(--text-primary);
}


body {
    background-color: var(--background-primary);
    color: var(--text-primary);
}

.header {
    background-color: var(--background-neutral-dark);
    color: var(--background-primary);
    padding: 1em;
}

.card {
    background-color: var(--background-surface);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5em;
    border-radius: 0.5em;
}

.button-primary {
    background-color: var(--background-interactive);
    color: var(--background-primary);
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-primary:hover {
    background-color: var(--background-interactive-hover);
}

.button-primary:active {
    background-color: var(--background-interactive-active);
}

.alert-success {
    background-color: var(--background-success);
    padding: 1em;
    border-radius: 0.5em;
}

.alert-warning {
    background-color: var(--background-warning);
    padding: 1em;
    border-radius: 0.5em;
}

.alert-error {
    background-color: var(--background-error);
    padding: 1em;
    border-radius: 0.5em;
}

input,
textarea,
select {
    color: var(--text-primary);
    background-color: var(--background-surface);
    border: 1px solid #ccc;
    padding: 0.5em;
    border-radius: 0.25em;
}

svg {
    fill: var(--icon-color);
}